@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reshaped Roleplay</h1>
    <p class="text-justify">
    Here we roleplay all in
    </p>
    <a asp-area="" asp-controller="People" asp-action="PeopleView">Members.</a>    
    <p>

</div>
<div class="text-center">
    <img src="~/Images/club.jpg"
         class="rounded"
         height="600" width="1000"
         asp-append-version="true" />
</div>