@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Contact me";
}

<div class="container text-center text-justify">
    <h1>@ViewData["Title"]</h1>
    <p><strong>Email:</strong> cenny84.caw@gmail.com</p>
    <p><strong>Phone:</strong> +46 724440188</p>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/cenny-arvesen-wallin-45b2b9166/">LinkedIn profile</a></p>
    <p><strong>Github:</strong> <a href="https://github.com/IqFiskMos">Github profile</a></p>
</div>