@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "My Projects";
}
<div class="container text-success">
    <h1>@ViewData["Title"]</h1>
    <p class="text-dark">You can check my projects in <a href="https://github.com/IqFiskMos">Github</a></p>
    </div>
    <div class="container">
        <section>
            <ol class="projects-class">
                <li>
                    <div>
                        <h3><a href="https://github.com/IqFiskMos/ArenaFighter" class="link-class">Arena Fighter</a></h3>
                        <p>Console application.</p>
                        
                    </div>
                </li>
                <li>
                    <div>
                        <h3><a href="https://github.com/IqFiskMos/ConsoleGolf" class="link-class">Golf game</a></h3>
                        <p>Console Application.</p>
                        
                    </div>
                </li>
                <li>
                    <div>
                        <h3><a href="https://github.com/IqFiskMos/VendingMachine" class="link-class">Vending Machine</a></h3>
                        <p>Console application.</p>
                       
                    </div>
                </li>
            </ol>
        </section>
    </div>
