@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>please add /feverCheckView to address bar for checking your health status.</p>
</div>
