@{
    ViewData["Title"] = "Contact";
}

<div>
    <h2>Contact</h2>
    <p>
        Cenny Arvesen Wallin<br />
        Mobil: 0724440188<br />
        Email: cenny84.caw@gmail.com<br />
        LinkedIn: <a href="https://www.linkedin.com/in/cenny-arvesen-wallin-45b2b9166/" target="_blank">Länk</a>
    </p>
</div>
