@{
    ViewData["Title"] = "About";
}

<div>
    <h2>Erfarenheter</h2>
    <p>
        ATL - ABI Terminal & Lagerhantering AB<br />
        Lageransvarig<br />
        september 2019 - februari 2020 (6 månader)<br />
        Göteborg, Västra Götaland, Sverige<br /><br />
        DreamHack AB<br />
        Evenemangskoordinator<br />
        november 2018 - augusti 2019 (10 månader)<br />
        Stockholm, Sverige<br /><br />
        lager och logistikansvarig<br />
        ATL - ABI Terminal & Lagerhantering AB<br />
        Lageransvarig<br />
        maj 2008 - november 2018 (10 år 7 månader)<br />
        Göteborg, Sverige<br /><br />
    </p>
    <h2>Främsta kompetenser</h2>
    <p>
        Truckkörning<br />
        Engelska
    </p>
    <h2>Certifications</h2>
    <p>Truckutbildning TLP-10<br />
    Körkort</p>
    <h2>Honors-Awards</h2>
    <p>MVC - Most Valuable Crew</p>
</div>
