@{
    ViewData["Title"] = "Projects";
}

<div>
    <h2>Projekt</h2><br />
    <ul>
        C#
        <li><a href="https://github.com/IqFiskMos/Calculator" target="_blank">Kalkylator<a></li>
        <li><a href="https://github.com/IqFiskMos/ArenaFighter" target="_blank">ArenaFighter<a></li>
        <li><a href="https://github.com/IqFiskMos/VendingMachine" target="_blank">VendingMachine<a></li>
        <li><a href="https://github.com/IqFiskMos/ConsoleGolf" target="_blank">ConsoleGolf<a></li>
    </ul>
    <ul>
        Frontend (HTML, CSS, BOOTSTRAP, JS)
        <li><a href="https://github.com/IqFiskMos/Frontend" target="_blank">Samlat projekt<a></li>
    </ul>
    <ul>
        Backend (MVC ASP.NET)
        <li><a href="https://github.com/IqFiskMos/Backend" target="_blank">Samlat projekt<a></li>
    </ul>
</div>