
@model IEnumerable<EFW_Assignment.Models.Teacher>
@using EFW_Assignment.Models
<p>
    @Html.ActionLink("Add New Teacher", "CreateTeacher")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Teacher Name
        </th>        
        <th>
            Course Id
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
       <partial name="_TeacherList" model="item" />
    }
</table>