

@model EFW_Assignment.Models.Course

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Create"] = false;
}
<h2>Edit '@Html.Display("CourseName")' Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*@Html.Partial("_EditPeople")*@
    <partial name="_CourseEditAndCreate" view-data="ViewData" />
}

<div class="container">
    @Html.ActionLink("Back to List", "CourseView")
</div>